.row, .column {
  box-sizing: border-box;
}

.row {
  border: 2px solid black;
}

.header {
  background-image: url("https://i.ytimg.com/vi/UIl0DvNYrhs/hqdefault.jpg");
  background-size: contain;
}

.column {
  float: left;
  position: relative;
  border-radius: 20px;
  text-align: center;
  margin: 1%;
  opacity: 0%;
}

#headline {
  font-size: 36px;
  font-weight: bold;
    height: 75px;
}

.body {
}

.header > .column,
.footer > .column {
  padding: 25px;
}

.middle > .column  {
  height: 400px;
  line-height: 375px;
    background-image: url("http://cdn1-www.craveonline.com/assets/uploads/2013/02/file_204449_0_Full_Metal_Jacket.jpg");
    background-size: cover;
}


.starter, .scorekeeper {
  font-size: 24px;
}

.column-1 { width: 6.333%; }  /* = 8.333% - 2% */
.column-2 { width: 14.66%; }
.column-3 { width: 23%; }
.column-4 { width: 31.33%; }
.column-5 { width: 39.66%; }
.column-6 { width: 48%; }
.column-7 { width: 56.33%; }
.column-8 { width: 64.66%; }
.column-9 { width: 73%; }
.column-10 { width: 81.33%; }
.column-11 { width: 89.66%; }
.column-12 { width: 98%; }

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}
