.row, .column {
  box-sizing: border-box;
}

.row {
  border: 2px solid black;
}

.header {
  background-image: url("https://i.ytimg.com/vi/UIl0DvNYrhs/hqdefault.jpg");
  background-size: contain;

}

.column {
  float: left;
  position: relative;
  border-radius: 20px;
  text-align: center;
  margin: 5% 13.1% 5% 13.1%;
}

#headline {
  font-size: 36px;
  font-weight: bold;
    height: 75px;
}

.footer {
  background-color: rgb(21, 126, 164);

}

.header > .column,
.footer > .column {
  margin-left: 1%;
  margin-right: 1%;
  padding: 20px;
}

.card {
  height: 400px;
}

.middle > .column  {
  height: 400px;
  line-height: 375px;
}

#BackgroundField {
  background: url("FMJBackground.jpg");
  background-size: cover;
}

#starter, #scorekeeper, #soundtrack {
  font-size: 20px;
  display: inline;
}

#MyCard, #CompCard {
  background: url("cardBack.jpg");
  background-size: cover;
  width: 275px;
  font-weight: bolder;
  font-size: 24px;
  font-color: black;
}

/*.card {
  background-image: url("graphics/cardback.gif");
  border-color: #808080 #000000 #000000 #808080;
  border-width: 1px;
  border-style: solid;
  color: #000000;
  font-size: 20pt;
  position: absolute;
  width:  275px;
  height: 375px;
}*/

.column-1 { width: 6.333%; }  /* = 8.333% - 2% */
.column-2 { width: 14.66%; }
.column-3 { width: 23%; }
.column-4 { width: 31.33%; }
.column-5 { width: 39.66%; }
.column-6 { width: 38%; }
.column-7 { width: 56.33%; }
.column-8 { width: 64.66%; }
.column-9 { width: 73%; }
.column-10 { width: 81.33%; }
.column-11 { width: 89.66%; }
.column-12 { width: 98%; }

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}
